@font-face {
    font-family: Times;
}

@font-face {
    font-family: Helvetica;
}

@font-face {
    font-family: Courier;
}

@font-face {
    font-family: Geneva;
}

@font-face {
    font-family: Tms Rmn;
}

@font-face {
    font-family: Helv;
}

@font-face {
    font-family: MS Serif;
}

@font-face {
    font-family: MS Sans Serif;
}

@font-face {
    font-family: New York;
}

@font-face {
    font-family: System;
}

@font-face {
    font-family: Wingdings;
}

@font-face {
    font-family: Mincho;
}

@font-face {
    font-family: Batang;
}

@font-face {
    font-family: SimSun;
}

@font-face {
    font-family: PMingLiU;
}

@font-face {
    font-family: Gothic;
}

@font-face {
    font-family: Dotum;
}

@font-face {
    font-family: SimHei;
}

@font-face {
    font-family: MingLiU;
}

@font-face {
    font-family: MS Mincho;
}

@font-face {
    font-family: Gulim;
}

@font-face {
    font-family: MS Gothic;
}

@font-face {
    font-family: Century;
}

@font-face {
    font-family: Tahoma;
}

@font-face {
    font-family: Garamond;
}