.rada {
    background-color: aqua;
}

.tajné {
    color: #676767;
    margin: 3pt 0;
    text-align: justify;
}

.detail-v-zápati {
    position: relative;
    bottom: .3em;
}

.detail-v-zápati:before {
    content: "[";
}

.detail-v-zápati:after {
    content: "]";
}

.přímá-řeč {
    font-style: italic;
}

.kusy-překladu {
    margin-left: 2em;
}

.přízviska {
    font-style: italic;
    margin-bottom: 0.2em;
}