table {
    display: inline-block;
}

table.asterion-table {
    border: none;
    border-collapse: collapse;
    margin-left: 0.3em;
}

table.asterion-table thead tr:first-child th[colspan="100%"] {
    text-align: center;
    background: none;
}

table.asterion-table th {
    background: #cccccc;
    border-top: black 1px solid;
}

table.asterion-table th, table.asterion-table td {
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
    padding: 0 1em;
}

table.asterion-table td {
    border-top: medium none;
}

table.asterion-table th:not(:first-child), table.asterion-table td:not(:first-child) {
    text-align: center;
}

/* DOUBLE BORDER */

table.double-border {
    padding: 3px; /* aby byl double border videt i pri overflow auto, jinak by byl skryty */
}

table.double-border th, table.double-border td {
    border: none;
    border-bottom: black solid 1px;
}

table.double-border td:first-child {
    text-transform: uppercase;
}

table.double-border td:first-child, table.double-border th:first-child {
    border-left: black 3px double;
}

table.double-border thead tr:nth-child(2) th {
    border-top: black 3px double;
}

table.double-border tr:last-child td {
    border-bottom: black 3px double;
}

table.double-border td:last-child, table.double-border th:last-child {
    border-right: black 3px double;
}

table.double-border thead tr:first-child th[colspan="100%"] {
    border: none;
}

/* BOLD BORDER */
table.bold-border {
    border: solid black 1px; /* přidá +1 pixel k border TD a TH */
}

table.header-inversed th {
    background-color: gray;
    color: white;
}